node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# React / React Native
build/
dist/
.expo/
web-build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Testing
coverage/

# Logs
logs
*.log

# Temporary files
tmp/
temp/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Database
*.sqlite

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Kubernetes
kubeconfig

# Mobile
*.apk
*.aab
*.ipa

# Misc
*.bak
*.cache
*.old
*.tmp